* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #2AA5A5;
}

.logo {
  width: 450px;
  margin-top: -75px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.Semaforo {
  width: 100px;
  height: 180px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  background-color: #2E3C50;
  padding: 10px;
}

.container {
  display: grid;
  place-items: center;
}

.luces {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid rgba(26, 26, 26, 0.464);
  position: relative;
}

.luces::after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  border-right: 4px solid rgba(255,255,255,0.6);
  top: 5%;
}

/* Luces Apagadas */
.Red-Down {
  background-color: rgba(48, 15, 15, 0.801);
}
.Yellow-Down {
  background-color: rgba(80, 88, 25, 0.661);
}
.Green-Down {
  background-color: rgba(16, 77, 15, 0.489);
}


/*  Soporte del Semaforo */
.stick {
  width: 8px;
  height: 280px;
  background-color: rgba(0,0,0, 0.5);
}

/* Piso del Semaforo */
.floor {
  width: 300px;
  height: 1px;
  background-color: rgba(0,0,0, 0.5);
  box-shadow:  0 0 10px 1px #A5682A;
}

/*  Colores de luces */
.red {
  background-color: #df402f;
  box-shadow: 0 0 10px 1px #C0392B;
}

.yellow {
  background-color: #F1C40F;
  box-shadow: 0 0 10px 1px #F1C40F;
}

.green {
  background-color: #2ECC71;
  box-shadow: 0 0 10px 1px #2ECC71;
}